@import "tailwindcss";
.color-body{
    background-color: #f8f8f8;
}

.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


.category-btn {
  padding: 0.75rem 1.5rem; 
  border: 1px solid black;
  border-radius: 0.5rem; 
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  border-color: rgb(228, 130, 10);

}

.category-btn:hover {
  background-color: rgb(228, 130, 10);
  color: white;
}
